.flip-card {
    background-color: transparent;
    width: 100% ;
    height: 410px !important;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #ccc; /* Light Gray */
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, #f0f0f0 30%, #e6e6e6 88%, #dcdcdc 40%, #f0f0f0 78%);
    color: #333; /* Dark Gray */
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, #e6e6e6 30%, #f0f0f0 88%, #f0f0f0 40%, #e6e6e6 78%);
    color: #333; /* Dark Gray */
    transform: rotateY(180deg);
  }
  